body{
	margin: 0px;
	background: #686868;
}
body,html{
	height: 95%;
}
p{
	text-align: center;
	margin-top: 20px;
}
input{
	width: 70%;
	height: 20px;
	margin-bottom: 10px;
	font-family:'PT Sans', sans-serif;
	color: white;
	background: black;
}
input[type="submit"]{
	width: 100px;
	font-family:'PT Sans', sans-serif;
	height: 30px;
	background: #3399FF;
	border-radius: 5px;
	border:2px solid black;
	color: white;
	outline: none;
	background:black;
}
textarea{
	position: absolute;
	left: 9%;
	width: 80%;
	height: 50%;
	font-family:'PT Sans', sans-serif;
	color: white;
	background: black;
}
label{
	display: inline-block;
	margin-top: 85%;
}
table{
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}
input[type="submit"]:hover{
	background: #0033FF;
	border:2px solid #0033FF;
}
span{
	background: black;
	color: white;
	font-family:'PT Sans', sans-serif;
}
.forms{
	position: fixed;
	text-align: center;
	width: 30%;
	padding-top: 10px;
}
.forms img{
	height: 100px;
}
#one input[type="file"]{
	display: none;
}
.demoworks{
	border:2px solid #A0A0A0 ;
	margin: auto;
	width: 50%;
	color: white;
	background: black;
	margin-right: 100px;
	margin-bottom: 10px;
}
.demoworks img{
	width: 100%;
	height: 100%;
}
.content{
	text-align: center;
	width: 100%;
}
.pictures{
	margin: auto;
	margin-top: 5px;
	width: 40%;
	border:2px solid #A0A0A0 ;
	height: 300px;
}
.title{
	font-family:'PT Sans', sans-serif;
	margin: auto;
	width: 40%;
	font-weight: bold;
}
.delete{
	font-family:'PT Sans', sans-serif;
	margin: auto;
	width: 40%;
}
.description{
	word-wrap: break-word;
	font-family:'PT Sans', sans-serif;
	margin: auto;
	margin-top: 10px;
	text-align: left;
	color:white;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
}
.edits{
	display: none;
}
.modal{
	position: fixed;
  	top: 25%;
  	left: 32%;
	width: 40%;
	opacity: 1;
	z-index: 1;
	border:2px solid white;
	background: white;
	display: none;
	text-align: center;
	font-family:'PT Sans', sans-serif;
	font-size: 25px; 
	}
.modalform{
	position: fixed;
  	top: 15%;
  	left: 32%;
	width: 40%;
	opacity: 1;
	z-index: 1;
	border:2px solid white;
	background: white;
	display: none;
	text-align: center;
	font-family:'PT Sans', sans-serif;
	font-size: 25px; 
}
.modalform input[type="file"]{
	margin-top: 30%;
}
.shim{
	position: fixed;
    bottom: 0; 
    left: 0; 
    top: 0; 
    right: 0;
    background: black;
    opacity: 0.8;
    display: none;
}
#one{
	position: relative;
	height: 100%;
}
