body{
	margin: 0px;
	background-image: url('/image/wall2.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
   	background-position:100% 100%;
   	background-size: cover;
}
ul li{
	list-style: none;
	font-size: 20px;
	font-family:'PT Sans', sans-serif;
	color: white;
	margin-left: 5%;
	word-wrap: break-word;
}
img{
	margin-right: 15px;
	height: 30px;
	margin-top: 10px;
}
p{
	font-size: 20px;
	font-family:'PT Sans', sans-serif;
	color: white;
	margin-left: 5%;
}
a{
	text-decoration: none;
	color: white;
}
.content{
	width: 30%;
	border:2px solid black;
	margin: auto;
	background: black;
	margin-top:8%;
	opacity: 0.9;
}
.contact{
	margin: auto;
}
@media only screen and (max-device-width: 480px){
           body,html{
           height:100%;
           }
          .contact{
           font-size:2em;
           margin-right:0px;
           margin-left:0%;
           }
          .content{
           width:75%;
}
}
@media only screen and (max-device-width: 768px){
           body,html{
           height:100%;
           }
          .contact{
           font-size:2em;
           margin-right:0px;
           margin-left:0%;
           }
          .content{
           width:75%;
}
}