body{
	margin: 0px;
	background-image: url('/image/wall2.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
   	background-position:100% 100%;
   	background-size: cover;
}
span{
	margin-top: 5px;
	display: inline-block;
	margin: auto;
}
.next{
	margin-left: 20%;
}
.prev{
	margin-right: 20%;
}
.content{
	padding-top: 1px;
}
.modal{
	position: fixed;
  	top: 3%;
  	left: 32%;
	height: 90%;
	width: 35%;
	display: none;
	opacity: 1;
	z-index: 1;
}
.modal img{
	display: block;
	width:100%;
	height: 100%;
	margin: auto;
}
.images{
	margin-top:20px;
}
.image{
	border:2px solid black;
	width: 20%;
	height: 300px;
	margin-left: 3.5%;
	margin-bottom: 15px;
	border:2px solid black;
	cursor: pointer;
}
.shim{
	position: fixed;
    bottom: 0; 
    left: 0; 
    top: 0; 
    right: 0;
    background: black;
    opacity: 0.9;
    display: none;
}
.next img ,.prev img,.center img{
	height: 30px;
	width: 30px;
}
.slide{
	margin: auto;
	text-align: center;
}
.count{
	text-align: center;
	margin-top: 150px;
	font-family:'PT Sans', sans-serif;
	font-size: 50px;
	font-weight: bold;
}
@media only screen and (max-device-width: 480px){
          .image{
              display:block;
              margin:auto;
              margin-bottom:2em;
              width: 50%;
            }
          .next{
	margin-left: 5%;
}
.prev{
	margin-right: 5%;
}
}
@media only screen and (max-device-width: 768px){
          .image{
              display:block;
              margin:auto;
              margin-bottom:2em;
              width: 50%;
            }
          .next{
	margin-left: 15%;
}
.prev{
	margin-right: 15%;
}
}