body{
	margin: 0px;
	background-image: url('/image/wall2.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
   	background-position:100% 100%;
   	background-size: cover;
}

.contain{
	padding-top: 1px;
}
.logo{
  margin-top:50px;
}
.logo p{
	text-align: center;
	font-family:'PT Sans', sans-serif;
	font-size: 100px;
	font-weight: bold;
}
.logo a{
	text-decoration: none;
	color:#808080;
}
.menu{
	text-align: center;
}
.menu a{
	font-family:'PT Sans', sans-serif;
	font-size: 55px;
	color:#585858;
	margin-right: 50px;
	text-decoration: none;
	transition:0.3s;
}
.menu a:hover{
	color:#000000 ;
}
@media only screen and (max-device-width: 480px){

body,html{
    height:100%;
}
.contain{
    height:100%;}
.logo{
  margin-top:50px;
}
.logo p{
	text-align: center;
	font-family:'PT Sans', sans-serif;
	font-size: 4em;
	font-weight: bold;
}
.logo a{
	text-decoration: none;
	color:#808080;
}
.menu{
	text-align: center;
}
.menu a{
	font-family:'PT Sans', sans-serif;
	font-size: 3em;
	color:#585858;
	text-decoration: none;
	transition:0.3s;
}
.menu a:hover{
	color:#000000 ;
}
}
@media only screen and (max-device-width: 768px){


body,html{
    height:100%;
}
.contain{
    height:100%;}
.logo{
  margin-top:50px;
}
.logo p{
	text-align: center;
	font-family:'PT Sans', sans-serif;
	font-size: 9em;
	font-weight: bold;
}
.logo a{
	text-decoration: none;
	color:#808080;
}
.menu{
	text-align: center;
}
.menu a{
	font-family:'PT Sans', sans-serif;
	font-size: 3em;
	color:#585858;
	text-decoration: none;
	transition:0.3s;
}
.menu a:hover{
	color:#000000 ;
}
}																