body{
	margin: 0px;
	background-image: url('/image/wall2.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
   	background-position:100% 100%;
   	background-size: cover;
}
html,body{
	height: 95%;
}
img{
	width: 100%;
	height: 100%;
}
h1{
	text-align: center;
	margin-top: 0px;
	color: white;
	opacity: 0.8;
	word-wrap: break-word;
}
p{
   	text-align: left;
   	padding-left: 20px;
   	padding-right: 20px;
   	color: white;
	opacity: 0.8;
	word-wrap: break-word;
}
.content{
	position: relative;
	width: 70%;
	margin: auto;
	margin-top: 35px;
	height: 95%;
}
.image{
	width: 45%;
	height: 100%;

}
.desc{
	position: absolute;
	top:0;
	right: 0;
	width: 45%;
	height: 100%;
	font-family:'PT Sans', sans-serif;
	font-size: 25px;
	overflow-y: auto;
	opacity: 0.7;
	background: black;
}
@media only screen and (max-device-width: 480px){
   html,body{
	height: 100%;
}
    .content{
          width:95%;
          height: 90%;
          margin-top:3em;
}
}
@media only screen and (max-device-width: 768px){
   html,body{
	height: 100%;
}
    .content{
          width:95%;
          height: 90%;
          margin-top:3em;
}
}

